<%-contentFor('css') %>
<%-contentFor('body') %>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Categories</h1>
      </div>
      
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Categories</h3>
      <div class="card-tools">
        <button class="btn btn-success">Add Category</button>
        
      </div>
    </div>
    <div class="card-body">


      
    </div>
    <!-- /.card-body -->
    <div class="card-footer">Footer</div>
    <!-- /.card-footer-->
  </div>
</section>
