<%-contentFor('css') %>

<link rel="stylesheet" href="/adminlte/plugins/summernote/summernote-bs4.min.css" />

<link
  rel="stylesheet"
  href="/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"
/>
<link
  rel="stylesheet"
  href="/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"
/>
<link
  rel="stylesheet"
  href="/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css"
/>
<link
  rel="stylesheet"
  href="/adminlte/plugins/sweetalert2/sweetalert2.min.css"
/>

<%-contentFor('body') %>

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Portfolios</h1>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Portfolios</h3>

      <div class="card-tools">
        <button class="btn btn-success" id="addPortfolio">Add Portfolio</button>
      </div>
    </div>
    <div class="card-body">
      <table
        id="portfolioTable"
        class="display table table-bordered table-striped table-hover dataTable dtr-inline"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th>Id</th>
            <th>Project Name</th>
            <th>Client</th>
            <th>Category</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">Footer</div>
    <!-- /.card-footer-->
  </div>
</section>

<div class="modal fade" id="portfolioModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">Portfolio Add</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          id="portfolioForm"
          name="portfolioForm"
          enctype="multipart/form-data"
        >
          <div class="card-body">
            <div class="form-group">
              <label for="projectName">Project Name</label>
              <input type="hidden" id="_id" name="_id" />
              <input
                type="text"
                class="form-control"
                id="projectName"
                name="projectName"
                placeholder="Project Name"
              />
            </div>

            <div class="form-group">
              <label for="shortPortfolio">Short Description</label>

              <input
                type="text"
                class="form-control"
                id="shortDescription"
                name="shortDescription"
                placeholder="Short Description"
              />
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea id="description"></textarea>
            </div>

            <div class="form-group">
              <label>Category</label>
              <select
                class="form-control"
                id="category"
                name="category"
              ></select>
            </div>

            <div class="form-group">
              <label>Client</label>
              <select class="form-control" id="client" name="client"></select>
            </div>

            <div class="form-group">
              <!-- <label for="customFile">Custom File</label> -->
              <label for="image">Image</label>
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  id="image"
                  name="image"
                  accept="image/*"
                />
                <label class="custom-file-label" for="portfolioLogo"
                  >Choose file</label
                >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" id="btnSave" class="btn btn-primary">Save</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>
  $(function () {
    portfolioTable = $('#portfolioTable').DataTable({
      serverSide: true,
      ajax: 'portfolio/getPortfoliosJson',
      aoColumns: [
        { mData: '_id' },
        { mData: 'projectName' },
        { mData: 'clientName' },
        { mData: 'categoryName' },
        { mData: 'actions' },
      ],
      /*  columnDefs: [
        {
          name: '_id',
          data: '_id',
          targets: [0],
          visible: true,
          searchable: false,
        },
        {
          name: 'projectName',
          data: 'projectName',
          targets: [1],
          visible: true,
          searchable: true,
        },
        {
          name: 'clientName',
          data: 'clientName',
          targets: [2],
          visible: true,
          searchable: true,
        },
        {
          name: 'category',
          data: 'category',
          targets: [2],
          visible: true,
          searchable: true,
        },
        {
          name: 'actions',
          data: 'actions',
          targets: [4],
          visible: true,
          searchable: false,
        },
      ], */
    });
  });

  let clients, categories;
  $(function () {
    $.ajax({
      type: 'GET',
      url: '/admin/client/getAllClients',
      success: function (data) {
        clients = data;

        console.log(clients);
        $('#client').append(`<option value="">Select client</option>`);
        for (let index = 0; index < clients.length; index++) {
          const client = clients[index];
          $('#client').append(
            `<option value="${client._id}">${client.clientName}</option>`
          );
        }
      },
      error: function (err) {},
    });

    $.ajax({
      type: 'GET',
      url: '/admin/category/getAllCategories',
      success: function (data) {
        categories = data;
        $('#category').append(`<option value="">Select Category</option>`);
        for (let index = 0; index < categories.length; index++) {
          const cat = categories[index];
          $('#category').append(
            `<option value="${cat._id}">${cat.categoryName}</option>`
          );
        }
      },
      error: function (err) {},
    });
  });

  $('#addPortfolio').click(() => {
    $('#portfolioModal').modal();
  });

  $(function () {
    // Summernote
    $('#description').summernote();
  });

  $('#btnSave').click(() => {
    var data = new FormData($('#portfolioForm')[0]);
    data.append('description', $('#description').summernote('code'));

    $.ajax({
      type: 'POST',
      enctype: 'multipart/form-data',
      url: '/admin/portfolio',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      success: function (data) {
        Swal.fire({
          icon: 'success',
          title: 'Succesfull',
          text: 'Succesfully added!',
          footer: '',
        });
        $('#projectName').val('');
        $('#_id').val('');
        $('#shortDescription').val('');
        $('#description').summernote('code', '');
        $('#category').val('');
        $('#client').val('');

        $('#image').val('').change();
        $('#portfolioModal').modal('toggle');
        portfolioTable.ajax.reload();
      },
      error: function (err) {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: err.statusText + '!',
          footer: '',
        });
      },
    });
  });

  $('#portfolioModal').on('hidden.bs.modal', function () {
    $(this).find('form').trigger('reset');
  });

  function portfolioEdit(id) {
    let portfolio;
    $.ajax({
      type: 'GET',

      url: 'portfolio/getPortfolio/' + id,
      success: function (data) {
        p = data;
        $('#projectName').val(p.projectName);
        $('#_id').val(p._id);
        $('#shortDescription').val(p.shortDescription);
        $('#description').summernote('code', p.description);
        $('#category').val(p.category);
        $('#client').val(p.client);
        $('#portfolioModal').modal('show');
      },
      error: function (err) {
        console.log(err);
      },
    });
  }

  function portfolioDelete(id) {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!',
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          type: 'DELETE',

          url: 'portfolio/deletePortfolio/' + id,
          success: function (data) {
            if (data.status == 'success') {
              Swal.fire('Deleted!', 'Portfolio has been deleted.', 'success');
              portfolioTable.ajax.reload();
            } else Swal.fire('Not Deleted!', 'An error occurred', 'error');
          },
          error: function (err) {
            console.log(err);
          },
        });
      }
    });
  }
</script>
<script src="/adminlte/plugins/summernote/summernote-bs4.min.js"></script>
<script src="/adminlte/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="/adminlte/plugins/sweetalert2/sweetalert2.min.js"></script>
<!--DATATABLE JS-->
<script src="/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
